@model OptimizationNoteWeb.Models.DbContext.PUBGOptimization

<table width="900pt">
    <tr>
        <td>優化名稱</td>
        <td>@Html.TextBox("E_OptimizationName",Model.OptimizationName, new { disabled = "disabled" })</td>
    </tr>
    <tr>
        <td>版本</td>
        <td>@Html.TextBox("E_Version", Model.Version, new { disabled = "disabled" })</td>
    </tr>
    <tr>
        <td>說明</td>
        <td>@Html.TextBox("E_Description", Model.Description)</td>
    </tr>
    <tr>
        <td>下載網址</td>
        <td>@Html.TextBox("E_DownloadURL", Model.DownloadURL)</td>
    </tr>
</table>
</br>
<button onclick="Update()">儲存</button>
<button onclick="ResetEditData()">還原資料</button>

<script>
        function Update()
        {
            $.ajax({
                url: '@Url.Action("Update")',
                type: 'POST',
                dataType: "json",
                data: {
                    SerialNo: @Model.SerialNo,
                    OptimizationName: $("#E_OptimizationName").val(),
                    Version: $("#E_Version").val(),
                    DownloadURL: $("#E_DownloadURL").val(),
                    Description: $("#E_Description").val(),
                },
                success: function (result) {
                    if (result.success) {
                        ReadView();
                    } else {
                        //$('#SendError').html(result.message);
                        alert("修改失敗")
                        Reset();
                    }
                }
            });
        }

        function ResetEditData()
        {
            $("#E_OptimizationName").val("@Model.OptimizationName");
            $("#E_Version").val("@Model.Version");
            $("#E_DownloadURL").val("@Model.DownloadURL");
            $("#E_Description").val('@Model.Description.Replace("\r\n","</br>")');
        }
</script>