</br>
<table width="900pt">
    <tr>
        <td>優化名稱</td>
        <td>@Html.TextBox("I_OptimizationName")</td>
    </tr>
    <tr>
        <td>版本</td>
        <td>@Html.TextBox("I_Version")</td>
    </tr>
    <tr>
        <td>說明</td>
        <td>@Html.TextBox("I_Description")</td>
    </tr>
    <tr>
        <td>下載網址</td>
        <td>@Html.TextBox("I_DownloadURL")</td>
    </tr>
</table>
</br>
<button onclick="Add()">新增</button>
<button onclick="ResetInsert()">清除資料</button>

<script>
    function Add() {
        $.ajax({
            url: '@Url.Action("Add")',
            type: 'POST',
            dataType: "json",
            data: {
                OptimizationName: $("#I_OptimizationName").val(),
                Version: $("#I_Version").val(),
                DownloadURL: $("#I_DownloadURL").val(),
                Description: $("#I_Description").val(),
            },
            success: function (result) {
                if (result.success) {
                    ReadView();
                } else {
                    //$('#SendError').html(result.message);
                    alert("新增失敗")
                    Reset();
                }
            }
        });
    }

    function ResetInsert() {
        $("#I_OptimizationName").val("");
        $("#I_Version").val("");
        $("#I_DownloadURL").val("");
        $("#I_Description").val("");
    }
</script>